<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delhi Load Curve</title>
    <link rel="stylesheet" href="{% static 'SIH_CSS.css' %}">
   

</head>
<body>
    <header>
        <h1>Delhi Load Curve</h1>
        <nav>
            <ul>
                <li><a href="https://www.delhisldc.org/HomeSldc.aspx">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Data</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="load-curve">
            <h2>Predicted Load Curve</h2>
            
            <!-- Date and Time Input -->
            <div class="date-selection">
                <label for="dateInput">Select Date:</label>
                <input type="date" id="dateInput" name="dateInput" required>

                <label for="timeInput">Select Time:</label>
                <input type="time" id="timeInput" name="timeInput" required>

                <button id="submitDate" type="submit">Submit</button>
            </div>

            <!-- Blank space left for the result (Load Prediction) -->
            <div class="result" id="resultDiv">Prediction will be displayed here</div>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Delhi Load Curve. All rights reserved.</p>
    </footer>

    <script src="{% static 'SIH_JS.js' %}"></script>
</body>
</html>
